# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim settings
.vimrc
!/.vimrc
1lab/matrix_given_tests/runtest*

# Kurskatalog
!/kurskatalog/**/*
